#include <winuser.h>
MAINICON ICON "icon.ico"

NIKO1 BITMAP "img/NIKO1.bmp"
NIKO2 BITMAP "img/NIKO2.bmp"
NIKO3 BITMAP "img/NIKO3.bmp"

default BITMAP "img/DEFAULT.bmp"
t1 BITMAP "img/T1.bmp"
t2 BITMAP "img/T2.bmp"
t3 BITMAP "img/T3.bmp"
t4 BITMAP "img/T4.bmp"
t5 BITMAP "img/T5.bmp"
t6 BITMAP "img/T6.bmp"
t7 BITMAP "img/T7.bmp"
t8 BITMAP "img/T8.bmp"
t9 BITMAP "img/T9.bmp"
t10 BITMAP "img/T10.bmp"
t11 BITMAP "img/T11.bmp"
t12 BITMAP "img/T12.bmp"
t13 BITMAP "img/T13.bmp"
t14 BITMAP "img/T14.bmp"
t15 BITMAP "img/T15.bmp"
t16 BITMAP "img/T16.bmp"
c1 BITMAP "img/C1.bmp"
c2 BITMAP "img/C2.bmp"
c3 BITMAP "img/C3.bmp"
c4 BITMAP "img/C4.bmp"
c5 BITMAP "img/C5.bmp"
c6 BITMAP "img/C6.bmp"
c7 BITMAP "img/C7.bmp"
s1 BITMAP "img/S1.bmp"
s2 BITMAP "img/S2.bmp"
s3 BITMAP "img/S3.bmp"
s4 BITMAP "img/S4.bmp"
save BITMAP "img/SAVE.bmp"
final BITMAP "img/FINAL.bmp"
